<h1>Thank you for your feedback!</h1>
<h2>Your review has now been added</h2>
<%= link_to "Go back to restaurants", restaurants_path %>
<%= link_to "See all Reviews for #{@restaurant.name}", restaurant_reviews_path(@restaurant) %>
